# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [85]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps
import os
import gmaps.datasets
import requests
import json

# Import API key
from api_keys import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [86]:
# Read csv file and convert to pd
weather_csv = "../output_data/cities.csv"

# Read the mouse data and the study results
weather_df = pd.read_csv(weather_csv)
weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Springfield,1,US,1580678181,22,37.22,-93.30,75.20,10.29
1,1,Dubti,0,ET,1580678183,55,11.74,41.09,78.26,8.30
2,2,Kununurra,90,AU,1580677939,88,-15.77,128.73,77.00,5.82
3,3,Ilo,100,PE,1580678185,77,-17.64,-71.34,73.27,8.43
4,4,Luderitz,0,NaN,1580677915,90,-26.65,15.16,63.43,24.65

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [87]:
#Add 'Lat' and 'Lng' into  locations 
locations = weather_df[["Lat", "Lng"]].astype(float)

#Add humidity as weights for heat map layer
weights = weather_df["Humidity"].astype(float)

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, dissipating=True, opacity=0.6))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [88]:
#filter out values to create ideal weather conditions
ideal_weather_df=weather_df
ideal_weather_df=weather_df[weather_df['Lat']>0]
ideal_weather_df=weather_df[weather_df['Lng']<16]
ideal_weather_df=weather_df[weather_df['Max Temp']<75.00]
ideal_weather_df=weather_df[weather_df['Wind Speed']<20.00]
ideal_weather_df=weather_df[weather_df['Cloudiness']>50]

#Select specific countries to visit to further reduce vacation options to 10 or fewer
ideal_weather_df=weather_df[weather_df['Country'].isin(['ES','FR','IT'])]
ideal_weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
71,71,Los Llanos de Aridane,0,ES,1580678271,18,28.66,-17.92,73.40,9.17
119,119,Oga,40,IT,1580678331,93,46.46,10.35,39.99,2.24
234,234,Cabra,94,ES,1580678478,87,37.47,-4.44,57.00,1.12
302,302,Mazara del Vallo,20,IT,1580678562,87,37.66,12.59,51.80,3.36
335,335,Provincia di Mantova,75,IT,1580678604,100,45.17,10.78,46.00,4.70
380,380,Cortes,19,ES,1580678661,81,41.94,-1.44,57.20,0.69
402,402,Termoli,100,IT,1580678689,68,41.99,14.99,55.99,3.00
442,442,Laas,75,IT,1580678740,100,46.62,10.70,39.99,5.82
449,449,Bereda,95,ES,1580678750,67,43.27,-7.54,68.00,19.46
499,499,Muros,19,ES,1580678836,72,42.78,-9.06,64.00,12.75

In [91]:
ideal_weather_df['City'].count()

10

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [92]:
hotel_df=ideal_weather_df[['City','Country','Lat','Lng']]
hotel_df['Hotel Name']=" "
hotel_df

C:\Users\mafgl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      City Country    Lat    Lng Hotel Name
71   Los Llanos de Aridane      ES  28.66 -17.92
119                    Oga      IT  46.46  10.35
234                  Cabra      ES  37.47  -4.44
302       Mazara del Vallo      IT  37.66  12.59
335   Provincia di Mantova      IT  45.17  10.78
380                 Cortes      ES  41.94  -1.44
402                Termoli      IT  41.99  14.99
442                   Laas      IT  46.62  10.70
449                 Bereda      ES  43.27  -7.54
499                  Muros      ES  42.78  -9.06

In [93]:
# base url
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=5000&type=hotel&key=AIzaSyBEEeDbzoFuYVIAIMV1A8q08FxGNT_G3iE


#find the closest hotel for each location
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "hotel",
    "key": g_key
}

# Start looking for hotels using lat and Lng
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
#         hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
#         hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [94]:
hotel_df

                      City Country    Lat    Lng              Hotel Name
71   Los Llanos de Aridane      ES  28.66 -17.92  Santa Cruz de La Palma
119                    Oga      IT  46.46  10.35                  Bormio
234                  Cabra      ES  37.47  -4.44            Puente Genil
302       Mazara del Vallo      IT  37.66  12.59                 Marsala
335   Provincia di Mantova      IT  45.17  10.78                  Verona
380                 Cortes      ES  41.94  -1.44                  Tudela
402                Termoli      IT  41.99  14.99              San Severo
442                   Laas      IT  46.62  10.70                 Bolzano
449                 Bereda      ES  43.27  -7.54                    Lugo
499                  Muros      ES  42.78  -9.06  Santiago de Compostela

In [81]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations2 = hotel_df[["Lat", "Lng"]]

In [95]:
#Add hotel markers to gmap layer
markers = gmaps.marker_layer(locations2, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))